body {
    background-color: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 0%;
}

.container {
    width: 80%;
    margin: auto;
}

.box-1 {
    background-color: black;
    color: white;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: double;
    border: 5px rgb(17, 0, 255) solid;
    padding: 25px;
    margin: 20px;
}

.box-2 {
    background-color: black;
    color: greenyellow;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px rgb(0, 255, 85) solid;
    border-bottom: 5px red solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: double;
    border: 5px rgb(17, 0, 255) solid;
    padding: 25px;
    margin: 20px;
}

.box-3 {
    background-color: black;
    color: gold;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px rgb(76, 0, 255) solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: double;
    border: 5px rgb(68, 0, 255) solid;
    padding: 25px;
    margin: 20px;
}

.box-4 {
    background-color: black;
    color: burlywood;
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px rgb(0, 38, 255) solid;
    border-bottom: 5px rgb(111, 0, 255) solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: double;
    border: 5px rgb(4, 0, 255) solid;
    padding: 25px;
    margin: 20px;
}

.box-5 {
    background-color: black;
    color: chartreuse;
    border-right: 5px rgb(0, 26, 255) solid;
    border-left: 5px rgb(38, 0, 255) solid;
    border-top: 5px rgb(17, 0, 255) solid;
    border-bottom: 5px rgb(25, 0, 255) solid;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: double;
    border: 5px rgb(0, 26, 255) solid;
    padding: 25px;
    margin: 20px;
}

img {
    width: 140px;
    border-radius: 50px;
    float: right;
    margin-right: 8px;
}

.box-1 h1 {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(4, 0, 255);
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(0, 255, 106);
}

a:active {
    color: navy;
}

ul {
    color: olive;
}

ol {
    color: royalblue;
}

body h2 {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(111, 0, 255);
}

body h3 {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: red;
}

body h4 {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: red;
}